.line {
    display: flex;
    align-items: center;

    svg {
        font-size: 1.3em;
    }

    p {
        margin: 0;
        margin-left: 0.5em;
    }

    [role="img"] {
        cursor: grab;
    }

    [role="img"]:active {
        cursor: grabbing;
    }
}