.ant-select {
    width: 10%;
}

p {
    margin: 0;
}

.day {
    display: grid;
    grid-template-columns: 100px 1fr;

    label {
        justify-self: flex-end;
        margin-right: 1em;
    }
}

.noData-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
    justify-content: center;

    .noData {
        height: auto;
    }
}
