.delete{
    display: flex;
    align-items: center;

    p{
        margin: 0;
        margin-left: 0.5em;
    }
}

.title {
    display: flex;
    justify-content: center;
    align-items: center;

    p {
        margin-left: 1em;
    }
}