.application {
	height: 100%;
	overflow: auto;
	display: grid;
	grid-template-columns: min-content 1fr;
	grid-template-rows: min-content 1fr;

	.body {
		height: 100vh;
		padding: 1em;
		.middle {
			height: 100%;
			display: grid;
			grid-template-rows: max-content 1fr;
			box-sizing: border-box;
		}
	}

	.ant-breadcrumb .anticon,
	.ant-breadcrumb {
		font-size: 1em;
	}

	.search,
	.refinement {
		padding: 1em;
		padding-top: 0;
	}

	.refinement {
		display: flex;
		justify-content: space-between;
		align-items: center;
	}

	.refinement-item {
		display: flex;
		align-items: center;

		div {
			display: flex;
			align-items: center;

			p {
				margin: 0;
				margin-left: 0.5em;
			}
		}
	}

	@media (max-width: 665px) {
		grid-template-columns: 1fr;
	}
}
