.application {
	height: 100%;
	display: grid;
	grid-template-columns: min-content 1fr;
	grid-template-rows: min-content 1fr;

	.body {
		height: 100%;
		padding: 1em;
		max-width: 100%;
		overflow: auto;
		.middle {
			height: 100%;
			display: flex;
			flex-direction: column;
		}
	}

	.header {
		padding: 0.5em;
		background-color: #ffce48;
		font-family: 'DK Lemon Yellow Sun';
		font-size: 1.5em;
		display: flex;
		justify-content: space-between;
		align-items: center;
	}

	.ant-breadcrumb .anticon,
	.ant-breadcrumb {
		font-size: 1em;
	}

	.refinement {
		display: flex;
		padding: 1em;
		padding-top: 0;
		align-items: center;
	}

	@media (max-width: 665px) {
		grid-template-columns: 1fr;
	}
}
